<settings>

        
    <setting propertyKey="@Properties.RightBoxDisplay1" title="@Strings.RightBoxDipslayTitle">
        <settingConfig type="list">
           	<listEntry value="0">@Strings.RBD_0</listEntry>
            <listEntry value="1">@Strings.RBD_1</listEntry>
            <listEntry value="2">@Strings.RBD_2</listEntry>
            <listEntry value="3">@Strings.RBD_3</listEntry>
            <listEntry value="4">@Strings.RBD_4</listEntry>
            <listEntry value="5">@Strings.RBD_5</listEntry>
            <listEntry value="6">@Strings.RBD_6</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.ShowMinTicks" title="@Strings.ShowMinTicksTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.TickStyle" title="@Strings.TickStyleTitle">
         <settingConfig type="list">
           	<listEntry value="0">@Strings.TS1</listEntry>
           	<listEntry value="1">@Strings.TS2</listEntry>
           	<listEntry value="2">@Strings.TS3</listEntry>
           	<listEntry value="3">@Strings.TS4</listEntry>
        </settingConfig>
	</setting>
     
    <setting propertyKey="@Properties.NumberStyle" title="@Strings.NumberStyleTitle">
         <settingConfig type="list">
           	<listEntry value="0">@Strings.NS1</listEntry>
           	<listEntry value="1">@Strings.NS2</listEntry>
           	<listEntry value="2">@Strings.NS3</listEntry>
           	<listEntry value="3">@Strings.NS4</listEntry>
        </settingConfig>
	</setting>
    
    <setting propertyKey="@Properties.ShowBoxes" title="@Strings.ShowBoxesTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowStatusBar" title="@Strings.ShowStatusBarTitle">
        <settingConfig type="boolean" />
    </setting>
    
     <setting propertyKey="@Properties.DateOnRight" title="@Strings.DateOnRightTitle">
         <settingConfig type="boolean">
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.TextColor" title="@Strings.TextColorTitle">
         <settingConfig type="list">
           	<listEntry value="0">@Strings.Color1</listEntry>
           	<listEntry value="1">@Strings.Color2</listEntry>
           	<listEntry value="2">@Strings.Color3</listEntry>
           	<listEntry value="3">@Strings.Color4</listEntry>
           	<listEntry value="4">@Strings.Color5</listEntry>
           	<listEntry value="5">@Strings.Color6</listEntry>
           	<listEntry value="6">@Strings.Color7</listEntry>
           	<listEntry value="7">@Strings.Color8</listEntry>
           	<listEntry value="8">@Strings.Color9</listEntry>
         	<listEntry value="9">@Strings.Color10</listEntry>
           	<listEntry value="10">@Strings.Color11</listEntry>
           	<listEntry value="11">@Strings.Color12</listEntry>
           	<listEntry value="12">@Strings.Color13</listEntry>
           	<listEntry value="13">@Strings.Color14</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.BoxColor" title="@Strings.BoxColorTitle">
         <settingConfig type="list">
           	<listEntry value="0">@Strings.Color1</listEntry>
           	<listEntry value="1">@Strings.Color2</listEntry>
           	<listEntry value="2">@Strings.Color3</listEntry>
           	<listEntry value="3">@Strings.Color4</listEntry>
           	<listEntry value="4">@Strings.Color5</listEntry>
           	<listEntry value="5">@Strings.Color6</listEntry>
           	<listEntry value="6">@Strings.Color7</listEntry>
           	<listEntry value="7">@Strings.Color8</listEntry>
           	<listEntry value="8">@Strings.Color9</listEntry>
         	<listEntry value="9">@Strings.Color10</listEntry>
           	<listEntry value="10">@Strings.Color11</listEntry>
           	<listEntry value="11">@Strings.Color12</listEntry>
           	<listEntry value="12">@Strings.Color13</listEntry>
           	<listEntry value="13">@Strings.Color14</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Background" title="@Strings.BackgroundColorTitle">	
         <settingConfig type="list">
           	<listEntry value="0">@Strings.Color1</listEntry>
           	<listEntry value="1">@Strings.Color2</listEntry>
           	<listEntry value="2">@Strings.Color3</listEntry>
           	<listEntry value="3">@Strings.Color4</listEntry>
           	<listEntry value="4">@Strings.Color5</listEntry>
           	<listEntry value="5">@Strings.Color6</listEntry>
           	<listEntry value="6">@Strings.Color7</listEntry>
           	<listEntry value="7">@Strings.Color8</listEntry>
           	<listEntry value="8">@Strings.Color9</listEntry>
         	<listEntry value="9">@Strings.Color10</listEntry>
           	<listEntry value="10">@Strings.Color11</listEntry>
           	<listEntry value="11">@Strings.Color12</listEntry>
           	<listEntry value="12">@Strings.Color13</listEntry>
           	<listEntry value="13">@Strings.Color14</listEntry>
        </settingConfig>
	</setting>

        
    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
         <settingConfig type="list">
           	<listEntry value="0">@Strings.Color1</listEntry>
           	<listEntry value="1">@Strings.Color2</listEntry>
           	<listEntry value="2">@Strings.Color3</listEntry>
           	<listEntry value="3">@Strings.Color4</listEntry>
           	<listEntry value="4">@Strings.Color5</listEntry>
           	<listEntry value="5">@Strings.Color6</listEntry>
           	<listEntry value="6">@Strings.Color7</listEntry>
           	<listEntry value="7">@Strings.Color8</listEntry>
           	<listEntry value="8">@Strings.Color9</listEntry>
         	<listEntry value="9">@Strings.Color10</listEntry>
           	<listEntry value="10">@Strings.Color11</listEntry>
           	<listEntry value="11">@Strings.Color12</listEntry>
           	<listEntry value="12">@Strings.Color13</listEntry>
           	<listEntry value="13">@Strings.Color14</listEntry>
        </settingConfig>
	</setting>

    
    <setting propertyKey="@Properties.SecondHandColor" title="@Strings.SecondHandColorTitle">
         <settingConfig type="list">
           	<listEntry value="0">@Strings.Color1</listEntry>
           	<listEntry value="1">@Strings.Color2</listEntry>
           	<listEntry value="2">@Strings.Color3</listEntry>
           	<listEntry value="3">@Strings.Color4</listEntry>
           	<listEntry value="4">@Strings.Color5</listEntry>
           	<listEntry value="5">@Strings.Color6</listEntry>
           	<listEntry value="6">@Strings.Color7</listEntry>
           	<listEntry value="7">@Strings.Color8</listEntry>
           	<listEntry value="8">@Strings.Color9</listEntry>
         	<listEntry value="9">@Strings.Color10</listEntry>
           	<listEntry value="10">@Strings.Color11</listEntry>
           	<listEntry value="11">@Strings.Color12</listEntry>
           	<listEntry value="12">@Strings.Color13</listEntry>
           	<listEntry value="13">@Strings.Color14</listEntry>
        </settingConfig>
    </setting>

	<setting propertyKey="@Properties.HourMinHandColor" title="@Strings.HourMinHandColorTitle">
         <settingConfig type="list">
           	<listEntry value="0">@Strings.Color1</listEntry>
           	<listEntry value="1">@Strings.Color2</listEntry>
           	<listEntry value="2">@Strings.Color3</listEntry>
           	<listEntry value="3">@Strings.Color4</listEntry>
           	<listEntry value="4">@Strings.Color5</listEntry>
           	<listEntry value="5">@Strings.Color6</listEntry>
           	<listEntry value="6">@Strings.Color7</listEntry>
           	<listEntry value="7">@Strings.Color8</listEntry>
           	<listEntry value="8">@Strings.Color9</listEntry>
         	<listEntry value="9">@Strings.Color10</listEntry>
           	<listEntry value="10">@Strings.Color11</listEntry>
           	<listEntry value="11">@Strings.Color12</listEntry>
           	<listEntry value="12">@Strings.Color13</listEntry>
           	<listEntry value="13">@Strings.Color14</listEntry>
        </settingConfig>
    </setting>
    
	<setting propertyKey="@Properties.HandStyle" title="@Strings.HandStyleTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.HS1</listEntry>
			<listEntry value="1">@Strings.HS2</listEntry>
			<listEntry value="2">@Strings.HS3</listEntry>
			<listEntry value="3">@Strings.HS4</listEntry>
		</settingConfig>
	</setting>

    
   	<setting propertyKey="@Properties.AlwaysOn" title="@Strings.AlwaysOnTitle">
        <settingConfig type="boolean" />
    </setting>
    
   	<setting propertyKey="@Properties.Use24HourFormat" title="@Strings.MilitaryFormatTitle">
         <settingConfig type="list">
           	<listEntry value="0">@Strings.MF_0</listEntry>
            <listEntry value="1">@Strings.MF_1</listEntry>
            <listEntry value="2">@Strings.MF_2</listEntry>
        </settingConfig>
    </setting>

	<setting propertyKey="@Properties.ShowSecondHand" title="@Strings.ShowSecondHandTitle">
        <settingConfig type="boolean" />
    </setting>
    

</settings>
